<html>
  <head>
    <title>Asteroids</title>
      <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <canvas></canvas>

    <script type="application/javascript" src="vendor/keymaster.js"></script>
    <script type="application/javascript" src="lib/bundle.js"></script>
  </body>
</html>
